#Skills {
  
  background-color: #814e83; /* 파란색 계열 */
  height: 80vh;
  font-size: 2rem;
  padding: 20px;
  
}


#Skills .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(212, 183, 220);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  padding: 40px;
  border-radius: 15px;
  width: 90%;
  margin-top: 50px;
}

.skill-category {
  margin: 10px 0;
}

.skill-category h2 {
  font-size: 1.0em;
  margin-bottom: 5px;
}
.skill-category p {
  font-size: 1.2em;
}