.containner {

  display: flex;
  align-items: center;
  gap: 15px; /* 아이콘과 텍스트 사이 간격 */
  padding: 10px;

}




.icon img {
  width: 40px; /* 아이콘 크기 */
  height: 40px;
  object-fit: cover;
}


.text {

  display: flex;
  flex-direction: column; /* h2와 h3를 세로로 정렬 */

}


.text h2 {
  color: #E0E0E0;

  font-size: 1.1rem; /* 적절한 폰트 크기 설정 */

  
  margin-bottom: 10px;
}

.text h3 {
  
  font-family: sans-serif; /* 기본 폰트로 설정 */
  font-size: 16px; /* h2보다 조금 작은 크기 */
  font-weight: normal;
  color: #E0E0E0;/* 보조적인 정보로 표현 */
}