/* 헤더 스타일 복구 및 기본 설정 */
#Header {
  top: 0;
  padding: 0px;
  min-width: 100%; /* 화면 너비 전체를 차지 */
  height: 5vh; /* 헤더 높이 지정 (필요에 따라 조정) */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: transparent;
  transition: background-color 0.3s ease;
  z-index: 1000;
}

/* 스크롤 시 헤더 스타일 변경 */
#Header.scrolled {
  background-color: #3f3f3f;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* 링크 기본 스타일 */
#Header .logo a,
#Header .button a {
  font-size: 15px;
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
  
  margin: 10px;
  padding: 10px;
}

/* 호버 시 텍스트 색상 변경 */
#Header .logo a:hover,
#Header .button a:hover {
  color: #d1bfbc;
  cursor: pointer;
}

/* 스크롤 시 색상 유지 */
#Header.scrolled .logo a,
#Header.scrolled .button a {
  color: white;
}

/* 스크롤 시 호버 색상 */
#Header.scrolled .logo a:hover,
#Header.scrolled .button a:hover {
  color: #765e5e;
  cursor: pointer;
}
