.projectitem-containner {


  padding:20px;
  border-radius: 10px;
  background-color: rgb(155, 155, 155);
  text-align: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* 카드 그림자 */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* 부드러운 전환 */
  cursor: pointer; /* 클릭 가능한 커서 */

}

.projectitem-containner:hover {
  transform: scale(1.05); /* 커서를 올리면 확대 */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.6); /* 그림자 강화 */
}

.project-image {
  
   /* 이미지 크기 설정 */
   height: 200px; /* 이미지 크기 설정 */
   width: 200px;
  border-radius: 10%;
  object-fit: cover; /* 이미지의 비율을 유지하며 자르기 */
}

.project-title {
  display: inline-block;
  border-radius: 10px;
  padding:8px;
  background-color: rgb(86, 75, 96);
  margin-bottom: 10px;
  font-size: 15px;
  color: white;

}
.projectitem-containner p {
  font-size: 14px;
  color: #E0E0E0;
}


.project-date {

  font-size: 5px;
  color: rgb(155, 146, 134);
}
