

/* 겉배경  */
html,
body {
 
  width: 100%;
  background-color: rgb(255, 244, 179);
  display: flex;
  align-items: center; /* 세로 방향으로 중앙 정렬 */
  justify-content: center; /* 가로 방향으로 중앙 정렬 추가 */

}

/* 앱 내부 */
#root {
  
  
  border-radius: 50px;
  background-color: white;
  width: 800px; /* 고정된 너비 설정 */
  height: 1000px; /* 고정된 높이 설정 */
  margin: 0 auto;
  min-height: 10vh;
  box-shadow: rgb(100, 100, 100, 1) 0px 0px 10px 0px;
  padding: 0px 80px;
 

  
  

}

/* 결과 박스 */
.box {

  border: 5px solid black;
  border-radius: 10px;
  width: 430px;
  height: 430px;
  margin: 15px;
  text-align: center;
  padding: 20px;
  box-sizing: border-box; /* padding과 border를 포함한 전체 크기를 고정 */
  

}

.box.draw {
  
  border: 10px solid black;
  border-color: black; /* 무승부 */
}

.box.win {
  border: 10px solid green;
  border-color: green; /* 승리 */
}

.box.lose {
  border: 10px solid red;
  border-color: red; /* 패배 */
}

.button {
  

  
  display: flex;
  justify-content: center;
  gap: 20px;
  border: none;
  
  
}

.button button {

  
  border-radius: 10px; /* 이미지 둥글게 */
  padding: 5px; /* 버튼의 안쪽 여백 */
  cursor: pointer; /* 클릭 가능한 상태 표시 */
 /* 버튼의 정렬 방식 */
  text-align: center;
  background-color: white;
}


.button img {
  
  width: 100px; /* 이미지 크기 */
  height: 100px;
  object-fit: cover; /* 이미지 비율 유지 */
  border-radius: 10px; /* 이미지 둥글게 */
}





.main {

  display: flex;
  justify-content: center;
  margin-bottom: 30px;

}

.result-count {

  font-size: 20px; /* 텍스트 크기 */
  color: #333; /* 텍스트 색상 */
  font-weight: bold; /* 굵은 글씨 */
  text-align: center; /* 텍스트 가운데 정렬 */
  margin-top: 40px; /* 위쪽 여백 */
  margin-bottom: 40px;

}

/* 리셋 버튼 css */

.reset button{

  width: 70px;
  height: 50px;
  border:none;
  border-radius: 10px; /* 이미지 둥글게 */
  padding: 5px; /* 버튼의 안쪽 여백 */
  cursor: pointer; /* 클릭 가능한 상태 표시 */

}

button:active {
  transform: scale(0.95); /* 크기를 약간 줄임 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 눌렸을 때 그림자 효과 */
}

.result-reset-container {
  display: flex;
  align-items: center; /* 세로 방향으로 가운데 정렬 */
  justify-content: space-between; /* 자식 요소 간의 여백 조절 */
}